body {
    font-size: 150%;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    background-color: #000000;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

button {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

a:link { color: #4444ff;}

#map {
    
}

#restartAppButton
{
    float:left;
    height:auto;
    width:12%;
    margin:5%;
}

#toggleVoiceoverButton
{
    float:left;
    height:auto;
    width:12%;
    margin:5%;
}

select {
    padding: 5px;
}

.iparadeSelectOverlay {
    position: absolute;
    background-color: black;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    top: 25%;
    left: 26%;
    width: 40%;
    padding: 2% 4%;
}

#startScreen {
    position: relative;
}

#iParadeSearching {
    position: absolute;
    width: 100%;
    text-align:center;
}

#iParadeSelectDiv {
/*     margin-top: 10%; */
}

#iParadeSelect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 100%;
}

.splashImage {
    width: 50%;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
}
.fullSplashImage {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.splashNextText {
    font-size: 0.7em;
    float: right;
    text-align: right;
    margin-right: 1ex;
    margin-top: 1ex;
}

#splashNextButton {
    float: right;
    margin-right: 0%;
    width: 25%;
}

.mapInfo {
    color: black;
}

.bodyImage {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block {
        display: block;
}

img.instructions {
    display: inline;
    height: 40px;
    width: auto;
}

p.credits {
    text-align: center;
}

.pageTitle {
    text-align:center;
}

.tabImage {
    height: 90%;
    width: auto;
    max-width: 100%;
}

#home{
}

#settingsButtons #reloadButton {
    float:left;
    height:auto;
    width:12%;
    margin:5%;
}

#home > #reloadButton {
    display: inline;
    float: left;
    width:5%;
    height:auto;
    margin-left:5%;
/*     margin-top:20px; */
}

#nextButton {
    display: inline;
    float: right;
    margin-right: 18%;
/*     margin-top: 20px; */
    width: 10%;
    height: auto;
}

#playVideoButton {
    display: inline;
    float: left;
    margin-left: 4%;
    padding-bottom: 20px;
    width: 54%;
    height: auto;
}

img#downloadingImg {
    display: block;
    width:60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

img#playImg {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

video#playVid {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

div.paddedContent {
    padding: 0% 15% 0% 2%;
    font-size: 0.8em;
}

ul#tabs {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #000000;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-botton: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

ul#tabs li {
    text-align: center;
    list-style: none;
    border-width: 1%;
    border-color: #000;
    border-style: solid;
    border-radius: 5px;
    padding: 1%;
    height: 18%;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

ul#tabs li a {
    width: 100%;
    height: 100%;
}

ul#tabs li a:hover {
    border-color: #AAA;
}

ul#tabs li.selected {
border-color: #333;
}

div.tabContent {
    position: static;
    background-color: #000000;
    color: #dddddd;
}

div.tabContent.hide {
    display: none;
}